*.pyc
*.pyo
*.swp
*.swo
*.*~
*.bak
*.kpf
*.komodoproject
.DS_Store
local_settings.py
proj_public/media/files/*
proj_public/media/app/*
proj_public/media/tmp/*
testerbender/log
proj_public/media/
proj_public/static/*
!proj_public/static/pythonsg/
proj/db.sqlite
README.html
