Django==1.3
South==0.7.3
-e git://github.com/fivethreeo/cmsplugin-blog.git@7b3be3cd39202116391d55b2baecad2144324fbf#egg=cmsplugin_blog
-e git://github.com/bitmazk/cmsplugin_blog_paginated.git@15064fdc30d13375898096e5d2a1838ccbfded8a#egg=cmsplugin_blog_paginated-dev
django-classy-tags==0.3.3.1
django-cms==2.1.3
django-sekizai==0.4.2
django-staticfiles==1.0.1
django-tagging==0.3.1
djangocms-utils==0.9.5
simple-translation==0.7.4
django-filer==0.8.2
django-mptt==0.3.1
easy-thumbnails==1.0-alpha-10
-e git://github.com/stefanfoulis/cmsplugin-filer.git@ad406e61cf7abe9c55923ce4453fd83601f62ef9#egg=cmsplugin_filer
Pygments==1.4
cmsplugin-pygments==0.7.3
